{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block title %}Создание записи об образовании{% endblock %}

{% block main %}
    <form action="{% url "candidate:education-create" %}" method="post" class="form">
        {% csrf_token %}
        {% for fm in form %}
            {% if "choicefield" in fm.field|slugify %}
                <div class="mb-3">
                    {% bootstrap_label fm.label %}
                    {{ fm }}
                </div>
            {% else %}
                {% bootstrap_field fm %}
            {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-success">Создать запись об образовании</button>
    </form>
{% endblock %}